<h1>お願い一覧</h1>

<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>件名</th>
      <th>詳細</th>
      <th>電話番号</th>
      <th>Facebookアカウント（あれば）</th>
      <th>メールアドレス</th>
      <th>備考</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @needs.each do |need| %>
      <tr>
        <td><%= need.category.name %></td>
        <td><%= need.title %></td>
        <td><%= need.description %></td>
        <td><%= need.tel %></td>
        <td><%= need.facebook %></td>
        <td><%= need.email %></td>
        <td><%= need.comment %></td>
        <td><%= link_to '詳細（写真付き）', need %></td>
        <td><%= link_to '編集', edit_need_path(need) %></td>
        <td><%= link_to '削除', need, method: :delete, data: { confirm: '削除して良いですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'お願い追加', new_need_path %>
