<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @need.category.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @need.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @need.description %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @need.tel %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @need.facebook %>
</p>

<p>
  <strong>Email:</strong>
  <%= @need.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @need.comment %>
</p>

<% @need.pictures.each do |picture| %>
    <table>
      <tr>
        <td><%= image_tag view_picture_path(picture)%></td>
        <td><%= link_to '削除', need_picture_path(@need, picture), method: :delete, data: { confirm: '写真を削除して良いですか？' } %></td>
      </tr>
    </table>
<% end %>

<%= link_to '写真追加', new_need_picture_path(@need) %>
<br>
<%= link_to 'ニーズ一覧に戻る', needs_path %>
