<p id="notice"><%= notice %></p>

<p>
  <strong>ジャンル:</strong>
  <%= @helper.category.name %>
</p>

<p>
  <strong>スキル、特技:</strong>
  <%= @helper.skill %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @helper.tel %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @helper.email %>
</p>

<p>
  <strong>Facebookアカウント:</strong>
  <%= @helper.facebook %>
</p>

<p>
  <strong>備考:</strong>
  <%= @helper.comment %>
</p>


  <strong>対応可能スケジュール</strong>
  <table>
  <thead>
    <tr>
      <th>対応可能日</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  <% @helper.schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.free_date %></td>
    <td><%= link_to '変更', edit_helper_schedule_path(@helper, schedule) %></td>
    <td><%= link_to '削除', helper_schedule_path(@helper, schedule), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
  </tbody>
  </table>

<%= link_to '新規時間追加', new_helper_schedule_path(@helper) %>

<br>

<%= link_to '編集', edit_helper_path(@helper) %> |
<%= link_to '助っ人一覧に戻る', helpers_path %>
