<p id="notice"><%= notice %></p>

<p>
  <strong>ジャンル:</strong>
  <%= @helper.category.name %>
</p>

<p>
  <strong>スキル、特技:</strong>
  <%= @helper.skill %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @helper.tel %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @helper.email %>
</p>

<p>
  <strong>Facebookアカウント:</strong>
  <%= @helper.facebook %>
</p>

<p>
  <strong>備考:</strong>
  <%= @helper.comment %>
</p>

<%= link_to '編集', edit_helper_path(@helper) %> |
<%= link_to '助っ人一覧に戻る', helpers_path %>
